<http>
  <head>
    <title>Counter</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="counter">
      <h1>Counter</h1>
      <p>
        <%= count %> times.
      </p>
      <form action="/" method='get'>
        <button type="submit">Add 1</button>
      </form>
      <form action="/plus2" method='post'>
        <button type="submit">Add 2</button>
      </form>
      <form action="/reset" method='post'>
        <button type="submit">Reset</button>
      </form>
    </div>
  </body>
</http>
