<!doctype html>
<html>
  <head>
    <title>Cars and Cats</title>
    <link rel="stylesheet" href="http://localhost:8000/style.css">
  </head>
  <body>
    <h1>Cats</h1>
    <img src = "images/cat_butterfly.jpg" alt="">
    <img src = "images/meowcat.jpg" alt="">
  </body>
</html>
