<!doctype html>
<html>
  <head>
    <title>Cars and Cats</title>
    <link rel="stylesheet" href="http://localhost:8000/style.css">
  </head>
  <body>
    <form>
      <label for make>Make: </label>
      <input type = 'text' name='make'>
      <label for model>Model: </label>
      <input type = 'text' name='model'>
      <label for year>Year: </label>
      <input type = 'text' name='year'>
      <label for color>Color: </label>
      <input type = 'text' name='color'>
      <button input = submit>Submit</button>
    </form>
  </body>
</html>
