<!--listen for a click event on row (click) to show here, running method onSelect(). Hold onto the info passed when clicked with new variabled selectedBook of type Book-->
<section > <!--only display this section if there selectedBook is defined  *ngIf='novel'-->
  <fieldset>
    <legend>Selected Book</legend>
    <p>ID: {{ novel?.id }}</p> <!--can use safe navigation operator ? to check if this exists, avoid error messages when navigating to new page, and page will load quicker. if selectedBook is undefined/null, will not bother to check if it has .id. -->
    <p>Title: {{ novel?.title }}</p>
    <p>Author: {{ novel?.author }}</p>
    <p>Year: {{ novel?.year }}</p>
    <p>Pages: {{ novel?.pages }}</p>
    <p>Publisher: {{ novel?.publisher }}</p>
  </fieldset>
</section>
