<app-book-new (newBook)='onCreate($event)'></app-book-new><!--this object will create event newBook, need to listen for and perform action. runs onCreate() on parent-->

<!--loop in angular by putting *ngFor='let thing of things' directly on element you want to repeat-->
<section>
    <table>
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor='let novel of books' (click)='onSelect(novel)'> <!-- include (click) listener and method to perform here, to apply to each row. Pass in book here to indicate which, scoped here, accept the book in onSelect()with book: type Book-->
          <td>{{novel.id}}</td>
          <td>{{novel.title}}</td>
          <td>{{novel.author}}</td>
          <td>{{novel.year}}</td>
          <td>Actions</td>
        </tr>
      </tbody>
    </table>
  </section>

  <app-book-details [novel]='selectedBook'></app-book-details>