<http>
  <head>
    <title>Survey Form</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div class="form">
      <h1>Submitted Information</h1>
      <ul>
        <li><h3>Name: <%= userData.name %></h3></li>
        <li><h3>Dojo Location: <%= userData.location %></h3></li>
        <li><h3>Favorite Language: <%= userData.language %></h3></li>
        <li><h3>Comment: <%= userData.comment %></h3></li>
      </ul>
      <a href="/"><button>Back</button>
    </div>
  </body>
</http>
