.form_line{
  display: block;
  margin-top: 10px;
}
label{
  display: block;
}
.comments{
  margin-left: 50px;
}
.post{
  margin-top: 50px;
}
body{
  padding: 15px;
}
ul{
  list-style: none;
  margin-top: 0px;
}
li{
  padding-top: 3px;
  padding-bottom: 0px;
}
