<http>
  <head>
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>New Dog Page</h1>
    <form action="/" method="post">
      <fieldset>
        <div class="form_line">
          <label for "name">Name: </label>
          <input type="text" name=name>
        </div>
        <div class="form_line">
          <label for "color">Color: </label>
          <input type="text" name=color>
        </div>
        <button input type="submit">Add new dog!</button>
      </fieldset>
    </form>
  </body>
</http>
