 
<div class = "location">
    <h1>Farm</h1>
    <p>Earns 2-5 Gold</p>
    <button (click)="onClickFarm()">Farm!</button>
</div>
<div class = "location">
    <h1>Cave</h1>
    <p>Earns 5-10 Gold</p>
    <button (click)="onClickCave()">Cave!</button>
</div>
<div class = "location">
    <h1>Casino</h1>
    <p>Earn up to or Lose up to 100 Gold</p>
    <button (click)="onClickCasino()">Casino!</button>
</div>
<div class = "location">
    <h1>House</h1>
    <p>Earns 7-15 Gold</p>
    <button (click)="onClickHouse()">House!</button>
</div>


<app-log></app-log>