<body>
  <h1>Add a Quote</h1>

  <form (submit)="onSubmit(formData)" #formData="ngForm">
    <div class="input_line">
      <textarea
        required
        name="body"
        min="4"
        cols="30"
        rows="3"
        placeholder="Quote"
        [(ngModel)]="newQuote.body"
        #body="ngModel"></textarea>
        <div class = "errors" *ngIf="!body.valid && body.dirty">Please enter quote with at least 4 characters.</div> 
    </div>
    <div class="input_line">
      Author: <input
        type="text"
        required
        name="author"
        min="1"
        placeholder="Author"
        [(ngModel)]="newQuote.author"
        #author="ngModel">
        <div class = "errors" *ngIf="!author.valid && author.dirty">Please enter author.</div> 
    </div>
    <button type="submit" [disabled]="!formData.valid">Add Quote</button> 
  </form>
</body>
