button{
    display: block;
    margin-top: 10px;
}
.username{
    width: 500px;
    display: inline-block;
}
.display{
    width: 500px;
    display: inline-block;
}
.red{
    color: red;
}
.orange{
    color: orange;
}
.blue{
    color: blue;
}
.green{
    color: green;
}