<section>
    <fieldset>
      <legend>Create Book</legend>
      {{ novelForm.value | json }} <!-- can see this info in real-time readable way w/json pipe -->
      <form (submit)='onSubmit($event, novelForm)' #novelForm='ngForm' > <!--Listen for event in angular w/(). Here, listen for submit action, and run method equal to onSubmit, which is defined in .ts. Can pass in $event here. bookForm represents whole form, which is reset in onSubmit() to empty -->
        <div> <!--two way data binding. listen for an event/change (form input), update the object. ngModel reads this info and updates it at same time-->
          <label for="">Title: </label><input 
          [(ngModel)]='novel.title' 
          #title='ngModel' 
          required
          type="text" 
          name="title"
          minlength="3" >
          <!--use #title='ngModel' to perform validations on title-->
          <div *ngIf='(title.touched && title.errors)'>
            <div *ngIf='title.errors.required' class="errors" >You must enter a title.</div>
            <div *ngIf='title.errors.minlength' class="errors">Title must be at least {{ title.errors.minlength.requiredLength }}characters.</div>
          </div>
        </div>
        <div>
          <label for="">Author: </label><input 
          type="text" 
          name="author" 
          [(ngModel)]='novel.author'
          #author='ngModel'  
          required>
          <div *ngIf='(author.touched || author.dirty) && author.errors'>
              <div *ngIf='author.errors.required' class="errors" >You must enter an author.</div>
          </div>
        </div>
        <div>
          <label for="">Pages: </label><input 
          type="number" 
          name="pages" 
          [(ngModel)]='novel.pages' 
          required>
        </div>
        <div>
          <label for="">Year: </label><input 
          type="number" 
          name="year" 
          min='1800'
          max='2018'
          [(ngModel)]='novel.year' 
          #year='ngModel'
          required>
          <div *ngIf='year.touched && year.errors'>
            <div *ngIf='year.min'></div>
          </div>
        </div>
        <div>
          <label for="">Publisher: </label><input 
          type="text" name="publisher" 
          [(ngModel)]='novel.publisher' 
          required>
        </div>
        <button *ngIf='novelForm.valid'>Submit</button> <!--disable button based on evaluation of bookForm.invalid, when true. can use hidden or disabled-->
      </form>
    </fieldset>
  </section>
